Rag Agent.json
{
  "name": "Rag Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -80
      ],
      "id": "ad9102d5-36e7-496e-b07a-950d915c797a",
      "name": "Telegram Trigger",
      "webhookId": "cf2a5279-9b5e-4930-8f8f-47c53f794685",
      "credentials": {
        "telegramApi": {
          "id": "Z1Y1ScKYYogUfqco",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -160,
        -80
      ],
      "id": "e96be30e-94e4-4a26-8a0a-0f6b89c9af6b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "offer-letter-faq",
          "mode": "list",
          "cachedResultName": "offer-letter-faq"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        48,
        -80
      ],
      "id": "1829bc70-1fe6-4b6e-8e29-6f034803d8e7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "11FXg9Df3WAM7G3A",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-light-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -32,
        112
      ],
      "id": "3368979d-8859-450e-9836-36116e753cfd",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "3r1aZlrBriNTI87C",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        192,
        128
      ],
      "id": "51a32a3a-5fe1-46cf-8de1-d08cabc5cff4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        288,
        240
      ],
      "id": "7f9af1bd-1594-4bbe-8ec4-41ff6d32e6b1",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9481eba7-a202-46e9-8ade-ec5dad7418fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd51737166a65cf3792febd6d5418f8fd800511129f54c80fc6771570707b023"
  },
  "id": "TV1igYFzBshIuw8x",
  "tags": []
}